<app-user-header title="Employee" link="employee"></app-user-header>
<c-container class="mt-3">
  <c-row>
    <app-modify-product [currentPrice] = "currentPrice"
                        [currentCode] = "currentCode"
                        [currentDescription] = "currentDescription"
                        [currentName] = "currentName"
                        #child
                        (notify)="onExpected($event)"></app-modify-product>
  </c-row>
  <c-row [ngStyle]="{ width: '100%' }">
    <c-col>
      <c-row class="g-0 customAlign">
        <h3>Products</h3>
        <table
          cTable
          hover
          [responsive]="true">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>"23442"</td>
              <td>"Pantene"</td>
              <td>0</td>
              <td>
                <a class="font-weight-bold font-xs btn-block text-muted"
                   (click)="loadProduct(emptyProduct)">
                  <svg cIcon [cIcon]="icons.cilArrowThickRight"></svg>
                </a>
              </td>
            </tr>
            <tr *ngFor="let product of products">
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price | currency }}</td>
              <td>
              <a class="font-weight-bold font-xs btn-block text-muted"
                 (click)="loadProduct(product)">
              <svg cIcon [cIcon]="icons.cilArrowThickRight"></svg>
              </a>
              </td>
            </tr>
          </tbody>
        </table>
      </c-row>
    </c-col>
  </c-row>
</c-container>

<c-modal [visible]="visible">
  <c-modal-header
    class="rejectBackground"
  >
    <h5 cModalTitle class="textBackground">{{ modalTitle }}</h5>
    <button (click)="closeModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>{{ modalMessage }}</c-modal-body>
  <c-modal-footer>
    <button (click)="closeModal()" cButton color="secondary">No</button>
    <button
      cButton
      (click)="saveModal($event)"
      color="'danger">
      Yes
    </button>
  </c-modal-footer>
</c-modal>
